<div class="row full-width">
  <div class="large-8 columns collapse">
    <%= render partial: "form" %>
  </div>
  <div class="large-4 columns collapse">
    <div id="riddle_result" >
      <div class="panel">

        <h4>Welcome to Fresh </h4>
        <p>MultiCore experience in the browser.</p>
        <hr/>

        <h4>Tutorial with actors</h4>
        <ul class="three-up no-bullet">
          <li>
            <%=link_to "Hello World", "https://fresh-mc.herokuapp.com/riddles/f4d0a/18" %>
          </li>
          <li>
            <%=link_to "Hello World 2 nodes parallel", "https://fresh-mc.herokuapp.com/riddles/f4d0a/19" %>
          </li>
          <li>
            <%=link_to "Hello World 2 nodes sequential", "https://fresh-mc.herokuapp.com/riddles/f4d0a/20" %>
          </li>
          <li>
            <%=link_to "Send Data 3 nodes sequential and parallel", "https://fresh-mc.herokuapp.com/riddles/f4d0a/21" %>
          </li>
          <li>
            <%=link_to "Receive Data 3 nodes parallel and sequential", "https://fresh-mc.herokuapp.com/riddles/f4d0a/22" %>
          </li>
        </ul>

        <h4>Tutorial with mpi</h4>
        <ul class="three-up no-bullet">
          <li>
            <%=link_to "Hello World", "https://fresh-mc.herokuapp.com/riddles/6ff70/1" %>
          </li>
          <li>
            <%=link_to "Hello World 2 nodes parallel", "https://fresh-mc.herokuapp.com/riddles/6ff70/2" %>
          </li>
          <li>
            <%=link_to "Hello World 2 nodes sequential", "https://fresh-mc.herokuapp.com/riddles/6ff70/4" %>
          </li>
          <li>
            <%=link_to "Send Data 3 nodes sequential and parallel", "https://fresh-mc.herokuapp.com/riddles/6ff70/5" %>
          </li>
          <li>
            <%=link_to "Receive Data 3 nodes parallel and sequential", "https://fresh-mc.herokuapp.com/riddles/6ff70/6" %>
          </li>
        </ul>

        <h4>Other</h4>
        <ul class="three-up no-bullet">
          <li>
            <%=link_to "Step 1", "https://fresh-mc.herokuapp.com/riddles/7459d" %>
          </li>
          <li>
          <%= link_to "Step 2", "https://fresh-mc.herokuapp.com/riddles/d952e" %>
          </li>
        </ul>
      </div>

      <h4>Key Bindings</h4>
      <ul class="stack-for-small round secondary button-group key-bindings">
        <li>
          <%= link_to "None", "#", class: "small button selected", "data-keybinding"=>"" %>
        </li>
        <li>
          <%= link_to "vim", "#", class: "small button", "data-keybinding"=>"vim" %>
        </li>
        <li>
          <%= link_to "emacs", "#", class: "small button", "data-keybinding"=>"emacs" %>
        </li>
      </ul>

      <a class="twitter-share-button"
         href="https://twitter.com/share"
         data-dnt="true"
        data-via="jwo"
        data-text="Fresh: Many-core in the Browser"
        
        >
          Tweet
        </a>
        <script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
    </div>
  </div>
</div>

